@charset "UTF-8";
body, p {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }

a {
  text-decoration: none;
  color: #000 !important; }
  a h1 {
    text-align: center;
    margin-bottom: 15px; }
    a h1 i {
      margin-right: 15px; }

.top {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .top h1 {
    margin-bottom: 15px; }
  .top form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .top form input[type="text"] {
      width: 100%;
      border-radius: 999px;
      padding: 10px 15px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      outline: none; }
    .top form input[type="submit"] {
      background-color: #69aad0;
      padding: 10px 15px;
      color: #fff;
      font-weight: bold;
      border-radius: 999px; }

.bg {
  background-color: #cae5ff3b; }

.archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .archive h1 {
    margin-top: 100px; }
  .archive .box-wrap {
    width: 100%; }
    .archive .box-wrap .box {
      width: 80%;
      margin: 30px auto 100px auto;
      background-color: #fff;
      padding: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .archive .box-wrap .box p {
        font-weight: bold;
        padding: 10px 0 20px 0;
        margin-bottom: 1px solid #000;
        border-bottom: 1px solid #000; }
